<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!---->
  <add key="MAIL_SERVER" value="imap.taipower.com.tw"/>
  <add key="MAIL_PORT" value="995"/>

  <!--
    <add key="MAIL_SERVER" value="cloudsmtp.taipower.com.tw"/>
    <add key="MAIL_PORT" value="465"/>
    -->
    <add key="MAIL_ACCOUNT" value="d0141304a"/>
    <add key="MAIL_PASSWORD" value="J041110i"/>
    <add key="MAIL_FROM" value="d0141304a@taipower.com.tw"/>
    <add key="MAIL_TO" value="u777110@taipower.com.tw"/>
    <add key="MAIL_SSL" value="true"/>

    <add key="MAIL_IsBodyHtml" value="true"/>
    <add key="MAIL_EnableSsl" value="true"/>
    <add key="MAIL_UseDefaultCredentials" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
